@{ 
    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get(FormsAuthentication.FormsCookieName);

    string userid = "";
    if(cookie!= null)
    {
        FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(cookie.Value);
        userid = ticket.UserData;
    }
}

@if (User.Identity.IsAuthenticated)
{
    <li><a href="~/Account/UserProfile/@userid">[@User.Identity.Name]</a></li>
    <li>@Html.ActionLink("登出", "SignOut", "Account")</li>
}
else
{ 
    <li>@Html.ActionLink("登入","Login", "Account")</li>
    <li>@Html.ActionLink("註冊", "Register", "Account")</li>
}